{var $prvni}
{var bool $druhy}{varType \MyNamespace\MyClass $treti}
<a href="{$prvni}>{$druhy}</a>">
{default $ctvrty = 4}{default int|float $paty = 5}
{foreach $paty as $sesty}
	{$sesty}
{/foreach}
<div n:foreach="$sedmy as $osmy" class="some-class">
	{$osmy}-{$devaty}
</div>
{varType MyNamespace\MyClass $devaty}
